@use './partials/variables' as *;
@use './partials/login' as *;
@use './partials/register' as *;
@use './partials/characters' as*;
@use './partials/sidebar' as*;
@use './partials/items' as*;
@use './partials/arenas' as*;
@use './partials/type' as*;
@use './partials/home'as*;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'VT323', monospace;
}
h1 {
    color: $text-color;
}
html {
    height: 100%;
    margin: 0;
}
#main_nav {
    background-color: #132C26;
}
#logo {
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.50);
    font-family: 'VT323', monospace;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: red;
    padding: 0 30px;
}

#dash {
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 56px);
    overflow: hidden;
    h2 {
        font-size: 4em;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: rgb(156, 226, 16);
        padding: 0 30px;
    }
}

.my-active {
    background-color: rgba(66, 65, 65, 0.506) !important;
}