#arenas {
  font-family: 'VT323', monospace;
  background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 56px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .slide {
    height: 200px;
    width: 650px;
    margin: auto;
    border: 2px solid white;
    box-shadow: 0px 0px 186px 27px rgba(175, 242, 193, 0.59);
    border-radius: 60px;
    overflow: hidden;

    img {
      object-fit: contain;
      object-position: bottom;
      width: 100%;
      height: 200px;
      margin: 0;
      padding: 0;
    }
  }

  .description-text {
    text-shadow: 3px 3px 10px black;
  }

  h1 {
    color: red;
  }

  .alert-delete {
    width: 20%;
    text-align: start;
  }
}
