#characters,
#arenas {

    font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 56px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .slide {
        width: 35%;
        margin: 0;
        margin: auto;
        border: 2px solid white;
        box-shadow: 0px 0px 186px 27px rgba(175, 242, 193, 0.59);
        border-radius: 20%;
        overflow: hidden;
    }

    .description-text {
        text-shadow: 3px 3px 10px black;
    }

    h1 {
        color: red;
    }

    .alert-delete {
        width: 20%;
        text-align: start;
    }

}

#characters-show {
    font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 56px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        height: 100%;
    }

    div {
        span {
            padding: 10px;
            background-color: red;
            color: white;
            margin-right: 10px;
            border-radius: 20px;
            box-shadow: 0px 0px 120px 5px white;
        }
    }

    h1 {
        color: red;
        text-shadow: 3px 3px 10px black;
    }

    img {
        border: 2px solid white;
        box-shadow: 0px 0px 186px 2px rgba(175, 242, 193, 0.59);
        border-radius: 20%;
    }

    p {
        text-shadow: 3px 3px 10px black;
    }

    .badge.rounded-pill {
        font-size: 20px;
    }

    .items-color {
        background-color: rgb(14, 83, 14) !important;
    }
}

#characters-create {
    font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;

    main {
        height: 100%;
    }

    height: 100% label {
        color: white;
    }
}

#characters-edit {
    font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 20px 0;

    main {
        height: 100%;
    }

    label {
        color: white;
    }
}