#items {
  font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: red;
      margin-bottom: 40px;
    }

    .my_slide {
      border: 2px solid white;
      border-radius: 8px;
      box-shadow: 0px 0px 186px 27px rgba(175, 242, 193, 0.59);
      border-radius: 5%;
      overflow: hidden;
      margin-bottom: 30px;
    
      .img_container {
        overflow: hidden;
        height: 300px; 
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          border-bottom: 1px solid #ddd;
        }
      }

      h3 {
        color: white;
        text-align: center;
        padding-top: 20px;
        text-shadow: 3px 3px 10px black;
      }
    
      // Rimuovi il margine dal testo per evitare problemi di allineamento
      .description-text {
        font-size: 1.2em;
        text-align: center;
        color: white;
        text-shadow: 3px 3px 10px black;
        padding: 30px 0;
      }
    
      .d-flex {
        justify-content: center;
        margin: 30px;
    
        .btn {
          margin: 0 5px;
        }
      }
    }
}

#items-show {
    font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 56px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

        main {
            height: 100%;
        }

        div {
            span {
                padding: 10px;
                background-color: red;
                color: white;
                margin-right: 10px;
                border-radius: 20px;
                box-shadow: 0px 0px 120px 5px white;
            }
        }

        h1 {
            color: red;
            text-shadow: 3px 3px 10px black;
        }

        img.fixed-size-image {
            width: 100%; /* Imposta la larghezza al 100% del container */
            height: 500px; /* Imposta l'altezza al 100% del container */
            object-fit: contain; /* Mantieni l'aspetto originale */
            border: 2px solid white;
            box-shadow: 0px 0px 186px 2px rgba(175, 242, 193, 0.59);
            border-radius: 5%;
        }

        p {
            text-shadow: 3px 3px 10px black;
        }

        .badge.rounded-pill {
            font-size: 20px;
        }

        .items-color {
            background-color: rgb(14, 83, 14) !important;
        }
    }

#items-create {
  font-family: 'VT323', monospace;
  background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  
  main {
    height: 100%;
  }
  
  label {
    color: white;
  }
}

#items-edit {
    font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 20px 0;

    main {
        height: 100%;
    }

    label {
        color: white;
    }
}