#types {
  font-family: 'VT323', monospace;
    background-image: url('https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDM4MS5wbmc=/315x250%23c/yrkGs9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 56px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: red;
    }
}